@{
    ViewData["Title"] = "Forgot Password";
}

<div class="formBox forgotPassword">
    <h3>Forgot Password</h3>
    <h6>Enter your email to receive a password reset link</h6>
    
    <form method="post" asp-action="SendEmailLink">
        <!-- Email Input Field -->
        <div class="inputBox">
            <span class="icon">
                <img src="@Url.Content("~/images/icons/customer.svg")" width="20" height="20">
            </span>
            <input type="email" id="forgotEmail" name="email" required />
            <label>Email</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Send</button>

        <div class="loginRegistered">
            <p>
                <a asp-controller="Login" asp-action="Index" class="login-link">Back to Login</a>
            </p>
        </div>
    </form>
</div>
<script src="~/js/Login.js" asp-append-version="true"></script>
